<div style="text-align: center; padding: 0px; font-size: 7.5pt;">

    <div style="margin-bottom: 12px;">
        <h1 style="font-size: 14pt; margin: 0; font-weight: bold; text-align: center;">
            Chapters associated with the Province of Dorset
        </h1>
    </div>

    <!-- Header Section -->
    <div style="margin-bottom: 12px;">
        <h1 style="font-size: 12pt; margin: 0; font-weight: bold; text-align: center;">
            The Wessex Chapter 3221
        </h1>
    </div>

    <!-- Summary Section -->
    <div style="margin-bottom: 2px; text-align: left;">
        <p style="font-size: 8pt; margin: 6px 0;">
            Consecrated 17 November 1922 and constituted on 1st January 1922.
        </p>
        <p style="font-size: 8pt; margin: 6px 0;">
            Meets at Freemasons' Hall, Great Queen Street, London on the third Monday in February (Installation), May and
            October.
        </p>
        <p style="font-size: 8pt; margin: 6px 0;">
            Attached to London Dorset Lodge 3221, and under the jurisdiction of the Metropolitan Grand Chapter of London.
        </p>
    </div>
</div>