<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 0; font-weight: 600;">The Provincial Grand Chapter of Dorset</h2>
    <h3 style="font-size: 12pt; margin: 4px 0;">Provincial Grand Chapter Officers 2026-2027</h3>
</div>

<table
    style="margin: 8px 0; font-size: 9pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 40%;">Most Excellent Grand Superintendent</td>
            <td>Stephen Andrew James</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 40%;">Deputy Grand Superintendent</td>
            <td>Mark Christopher Hinsley, PAGDC</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 40%;">Second Grand Principal</td>
            <td>Kevin Abbiss, PAGDC</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 40%;">Third Grand Principal</td>
            <td>Nigel Melville Douglas House, PAGDC</td>
        </tr>
    </tbody>
</table>