<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 0; font-weight: 600;">The Provincial Grand Chapter of Dorset</h2>
    <h3 style="font-size: 12pt; margin: 4px 0;">Provincial Grand Chapter Officers 2026-2027</h3>
</div>
<!-- Executive Officers -->
 <table
    style="margin: 8px 0; font-size: 10pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 50%;">Grand Superintendent</td>
            <td style="text-align: right;">Stephen Andrew James</td>
        </tr>
    </tbody>
</table>
<!-- Assistant Executive Officers -->
<table
    style="margin: 8px 0; font-size: 8pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 45%;">Deputy Grand Superintendent</td>
            <td style="text-align: right;">Mark Christopher Hinsley, PAGDC</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Second Grand Principal</td>
            <td style="text-align: right;">Kevin Abbiss, PAGDC</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Third Grand Principal</td>
            <td style="text-align: right;">Nigel Melville Douglas House, PAGDC</td>
        </tr>
    </tbody>
</table>
<!-- Officers -->
<table
    style="margin: 8px 0; font-size: 8pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="width: 45%;">Scribe Ezra</td>
            <td style="text-align: right; width: 45%;">Terry Green</td>
            <td style="text-align: right;">7873</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Scribe Nehemiah</td>
            <td style="text-align: right;">Joe Bloggs</td>
            <td style="text-align: right;">0000</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Treasurer</td>
            <td style="text-align: right;">Joe Bloggs</td>
            <td style="text-align: right;">0000</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Registrar</td>
            <td style="text-align: right;">Joe Bloggs</td>
            <td style="text-align: right;">0000</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Director of Ceremonies</td>
            <td style="text-align: right;">Mark Gibson</td>
            <td style="text-align: right;">0000</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Sword Bearer</td>
            <td style="text-align: right;">Peter Read</td>
            <td style="text-align: right;">5331</td>
        </tr>
    </tbody>
</table>