<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 0; font-weight: 600;">The Provincial Grand Chapter of Dorset</h2>
    <h3 style="font-size: 12pt; margin: 4px 0;">Provincial Executive</h3>
</div>
<!-- MEG -->
 <table
    style="margin: 8px 0; font-size: 10pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 8px 6px; padding: 4px 0;">
            <td style="font-weight: 600; width: 50%; vertical-align: top;">Grand Superintendent</td>
            <td style="text-align: right; vertical-align: top;">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="font-weight: 600; line-height: 1.3;">Stephen Andrew James</div>
                    <div style="font-size: 9pt; margin-top: 0;"><a href="mailto:gsupt@dorsetfreemasonry.info">gsupt@dorsetfreemasonry.info</a></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!-- Deputy and Principals -->
 <table
    style="margin: 8px 0; font-size: 8pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600; width: 50%; vertical-align: top;">Deputy Grand Superintendent</td>
            <td style="text-align: right; vertical-align: top;">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="font-weight: 600; line-height: 1.3;">Mark C Hinsley, PAGDC</div>
                    <div style="font-size: 8pt; margin-top: 0;"><a href="mailto:dpgsupt@dorsetfreemasonry.info">dpgsupt@dorsetfreemasonry.info</a></div>
                </div>
            </td>
        </tr>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600; vertical-align: top;">Second Grand Principal</td>
            <td style="text-align: right; vertical-align: top;">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="font-weight: 600; line-height: 1.3;">Kevin Abbiss, PAGDC</div>
                    <div style="font-size: 8pt; margin-top: 0;"><a href="mailto:2ndprgprinc@dorsetfreemasonry.info">2ndprgprinc@dorsetfreemasonry.info</a></div>
                </div>
            </td>
        </tr>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600; vertical-align: top;">Third Grand Principal</td>
            <td style="text-align: right; vertical-align: top;">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="font-weight: 600; line-height: 1.3;">Nigel M D House, PAGDC</div>
                    <div style="font-size: 8pt; margin-top: 0;"><a href="mailto:3rdprgprinc@dorsetfreemasonry.info">3rdprgprinc@dorsetfreemasonry.info</a></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!-- Executive Officers -->
<table style="margin: 8px 0; font-size: 8pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 8px 6px; padding: 4px 0;">
            <td style="font-weight: 600; vertical-align: top;">Grand Scribe Ezra</td>
            <td style="text-align: right; vertical-align: top;">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="font-weight: 600; line-height: 1.3;">Terry Green, PAGDC</div>
                    <div style="font-size: 7pt; margin-top: 0;"><a href="mailto:prgscre@dorsetfreemasonry.info">prgscre@dorsetfreemasonry.info</a></div>
                </div>
            </td>
        </tr>
        <tr style="margin: 8px 6px; padding: 4px 0;">
            <td style="font-weight: 600; vertical-align: top;">Grand Scribe Nehemiah</td>
            <td style="text-align: right; vertical-align: top;">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="font-weight: 600; line-height: 1.3;">David S Preston</div>
                    <div style="font-size: 7pt; margin-top: 0;"><a href="mailto:raprgscn@dorsetfreemasonry.info">raprgscn@dorsetfreemasonry.info</a></div>
                </div>
            </td>
        </tr>
        <tr style="margin: 8px 6px; padding: 4px 0;">
            <td style="font-weight: 600; vertical-align: top;">Grand Treasurer</td>
            <td style="text-align: right; vertical-align: top;">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="font-weight: 600; line-height: 1.3;">Stephen M James</div>
                    <div style="font-size: 7pt; margin-top: 0;"><a href="mailto:raprgtreas@dorsetfreemasonry.info">raprgtreas@dorsetfreemasonry.info</a></div>
                </div>
            </td>
        </tr>
        <tr style="margin: 8px 6px; padding: 4px 0;">
            <td style="font-weight: 600; vertical-align: top;">Grand Registrar</td>
            <td style="text-align: right; vertical-align: top;">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="font-weight: 600; line-height: 1.3;">Ashley Brewer</div>
                    <div style="font-size: 7pt; margin-top: 0;"><a href="mailto:raprgreg@dorsetfreemasonry.info">raprgreg@dorsetfreemasonry.info</a></div>
                </div>
            </td>
        </tr>
        <tr style="margin: 8px 6px; padding: 4px 0;">
            <td style="font-weight: 600; vertical-align: top;">Grand Director of Ceremonies</td>
            <td style="text-align: right; vertical-align: top;">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="font-weight: 600; line-height: 1.3;">Mark Gibson, PGStB</div>
                    <div style="font-size: 7pt; margin-top: 0;"><a href="mailto:raprgdc@dorsetfreemasonry.info">raprgdc@dorsetfreemasonry.info</a></div>
                </div>
            </td>
        </tr>
        <tr style="margin: 8px 6px; padding: 4px 0;">
            <td style="font-weight: 600; vertical-align: top;">Grand Almoner</td>
            <td style="text-align: right; vertical-align: top;">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="font-weight: 600; line-height: 1.3;">Andrew P T Gale</div>
                    <div style="font-size: 7pt; margin-top: 0;"><a href="mailto:raalmoner@dorsetfreemasonry.info">raalmoner@dorsetfreemasonry.info</a></div>
                </div>
            </td>
        </tr>
        <tr style="margin: 8px 6px; padding: 4px 0;">
            <td style="font-weight: 600; vertical-align: top;">Grand Charity Steward</td>
            <td style="text-align: right; vertical-align: top;">
                <div style="display: flex; flex-direction: column; align-items: flex-end;">
                    <div style="font-weight: 600; line-height: 1.3;">Lawrence R Jones</div>
                    <div style="font-size: 7pt; margin-top: 0;"><a href="mailto:racharitystwd@dorsetfreemasonry.info">racharitystwd@dorsetfreemasonry.info</a></div>
                </div>
            </td>
        </tr>
</table>