<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 0; font-weight: 600;">The Provincial Grand Chapter of Dorset</h2>
    <img src="../../images/ra-logo.png" style="max-width: 25%; height: auto; margin: 10px 0;"/>
    <h3 style="font-size: 12pt; margin: 4px 0;">Provincial Grand Chapter Officers 2025-2026</h3>
    <h4 style="font-size: 9pt; font-style: italic; margin: 4px 0;">Appointed at the Annual Convocation on Saturday 28th June 2025</h4>
</div>
<!-- Executive Officers -->
 <table
    style="margin: 8px 0; font-size: 10pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 50%;">Grand Superintendent</td>
            <td style="text-align: right;">Stephen Andrew James</td>
        </tr>
    </tbody>
</table>
<!-- Assistant Executive Officers -->
<table
    style="margin: 8px 0; font-size: 8pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600; width: 50%;">Deputy Grand Superintendent</td>
            <td style="text-align: right;">Mark Christopher Hinsley, PAGDC</td>
        </tr>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600;">Second Grand Principal</td>
            <td style="text-align: right;">Kevin Abbiss, PAGDC</td>
        </tr>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600;">Third Grand Principal</td>
            <td style="text-align: right;">Nigel Melville Douglas House, PAGDC</td>
        </tr>
    </tbody>
</table>
<!-- Officers -->
<table
    style="margin: 8px 0; font-size: 8pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Scribe Ezra</td>
            <td style="text-align: right; width: 45%;">T Green, PAGDC</td>
            <td style="text-align: right;">7873</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Scribe Nehemiah</td>
            <td style="text-align: right;">D S Preston</td>
            <td style="text-align: right;">665</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Treasurer</td>
            <td style="text-align: right;">S M James</td>
            <td style="text-align: right;">2689</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Registrar</td>
            <td style="text-align: right;">A Brewer</td>
            <td style="text-align: right;">622</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Director of Ceremonies</td>
            <td style="text-align: right;">M J Gibson, PGStB</td>
            <td style="text-align: right;">622</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Sword Bearer</td>
            <td style="text-align: right;">P M Read</td>
            <td style="text-align: right;">5331</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Deputy DC</td>
            <td style="text-align: right;">R I Auburn, PAGDC</td>
            <td style="text-align: right;">7986</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Almoner</td>
            <td style="text-align: right;">A P T Gale</td>
            <td style="text-align: right;">622</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Charity Steward</td>
            <td style="text-align: right;">L R Jones</td>
            <td style="text-align: right;">1168</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Membership Officer</td>
            <td style="text-align: right;">J A R Waddington</td>
            <td style="text-align: right;">7986</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Communications Officer</td>
            <td style="text-align: right;">A Ward</td>
            <td style="text-align: right;">1266</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Principal Sojourner</td>
            <td style="text-align: right;">B Barrett</td>
            <td style="text-align: right;">8099</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">1st Assistant Sojourner</td>
            <td style="text-align: right;">A Hollington</td>
            <td style="text-align: right;">9177</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">2nd Assistant Sojourner</td>
            <td style="text-align: right;">T Q Malins</td>
            <td style="text-align: right;">170</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Assistant Scribe Ezra</td>
            <td style="text-align: right;">J S Newman</td>
            <td style="text-align: right;">1037</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Standard Bearer</td>
            <td style="text-align: right;">M P Dodd</td>
            <td style="text-align: right;">6445</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Standard Bearer</td>
            <td style="text-align: right;">J H Bateman</td>
            <td style="text-align: right;">1367</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Organist</td>
            <td style="text-align: right;">D Boylin</td>
            <td style="text-align: right;">137</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Assistant DC</td>
            <td style="text-align: right;">D I Thornton</td>
            <td style="text-align: right;">9050</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Steward</td>
            <td style="text-align: right;">G Haskell</td>
            <td style="text-align: right;">9177</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Steward</td>
            <td style="text-align: right;">J W Read</td>
            <td style="text-align: right;">5331</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Steward</td>
            <td style="text-align: right;">M P Lofthouse</td>
            <td style="text-align: right;">1266</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Steward</td>
            <td style="text-align: right;">J E A Plowman</td>
            <td style="text-align: right;">622</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 45%; font-weight: 600; ">Janitor</td>
            <td style="text-align: right;">K J Shaw</td>
            <td style="text-align: right;">3473</td>
        </tr>
    </tbody>
</table>