<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; font-weight: bold;">Reasons to be exalted into Royal Arch Masonry</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <ol style="line-height: 1.5;">
        <li>
            Pure and Ancient Freemasonry is a journey through morality illustrated allegorically by the rise, fall and rise again of the tribes of Israel in the Old Testament. Craft Masonry takes a Brother through the first rise and fall in moral rectitude and Royal Arch Masonry illustrates how that Brother can rise again. Without the Royal Arch the moral journey is incomplete and not understood.
        </li>
        <li>
            There are fewer Chapters in the Province than there are Craft Lodges. This by necessity brings together Brethren from diverse Lodges, creating new friendships and expanding a Brothers’ social circle.
        </li>
        <li>
            The Royal Arch is more egalitarian than the Craft. All Companions are considered members of the same body, and no individual is ever saluted. This results in an easy atmosphere of mutual goodwill and respect that many find enjoyable to be part of.
        </li>
        <li>
            For a Brother who wishes to explore Freemasonry further, completion of the moral journey via a Royal Arch Chapter is often a prerequisite for advancing into other 'companion orders', such as the Operatives, the Allied Masonic Degrees, the Royal and Select Masters, Knights Templar and the Red Cross of Constantine.
        </li>
        <li>
            From time-to-time the United Grand Lodge of England produces publications to assist a Brother on his journey into Royal Arch Masonry. There is detailed information on the Solomon pages of the UGLE website. Each Craft Lodge has a Royal Arch Representative. If all else fails, simply approach any Brother who wears the distinctive Royal Arch jewel on their breast, and he will help you to find your way into this visually stunning and thoroughly satisfying Order of Pure and Ancient Freemasonry.
        </li>
    </ol>
</div>