<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 6px; font-weight: 600;">Succession Lists</h2>
</div>
<!-- GRAND SUPERINTENDENTS -->
<table style="margin: 0; font-size: 8pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <thead>
        <tr style="margin: 0; padding: 0;">
            <th style="text-align: left; width: 18%;">Appointed</th>
            <th style="text-align: left; width: 70%;">GRAND SUPERINTENDENTS</th>
            <th style="text-align: right; width: 12%;">Years</th>
        </tr>
    </thead>
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1780</td>
            <td style="text-align: left;">Thomas Dunckerley</td>
            <td style="text-align: right;">16</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1796</td>
            <td style="text-align: left;">Hon. Henry Hobart</td>
            <td style="text-align: right;">3</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1799</td>
            <td style="text-align: left;">Sir John Lester</td>
            <td style="text-align: right;">6</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1805</td>
            <td style="text-align: left;">John Jeffery, MP</td>
            <td style="text-align: right;">7</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1812</td>
            <td style="text-align: left;">William Williams</td>
            <td style="text-align: right;">27</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1841</td>
            <td style="text-align: left;">William Elliot</td>
            <td style="text-align: right;">7</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1846</td>
            <td style="text-align: left;">William Tucker</td>
            <td style="text-align: right;">7</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1853</td>
            <td style="text-align: left;">Henry Ralph Willett</td>
            <td style="text-align: right;">8</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1861</td>
            <td style="text-align: left;">Joseph Gundry</td>
            <td style="text-align: right;">16</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1877</td>
            <td style="text-align: left;">John M P Montagu</td>
            <td style="text-align: right;">14</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1891</td>
            <td style="text-align: left;">Montagu John Guest</td>
            <td style="text-align: right;">12</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1903</td>
            <td style="text-align: left;">Lt. Col. William Ernest Brymer</td>
            <td style="text-align: right;">6</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1909</td>
            <td style="text-align: left;">Col. Sir William Watts</td>
            <td style="text-align: right;">13</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1924</td>
            <td style="text-align: left;">Col. Gustavus Phips Symes</td>
            <td style="text-align: right;">14</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1938</td>
            <td style="text-align: left;">Capt. Henry Cyril Royds Brocklebank</td>
            <td style="text-align: right;">16</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1954</td>
            <td style="text-align: left;">Dr. Kenneth Bleckley Clarke</td>
            <td style="text-align: right;">17</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1971</td>
            <td style="text-align: left;">Rev. Arthur J Mangold</td>
            <td style="text-align: right;">6</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1977</td>
            <td style="text-align: left;">Joseph Basil Gillam</td>
            <td style="text-align: right;">15</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1992</td>
            <td style="text-align: left;">Kenneth Henry Barnes, JP</td>
            <td style="text-align: right;">16</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">2008</td>
            <td style="text-align: left;">Derick Mayes</td>
            <td style="text-align: right;">6</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">2014</td>
            <td style="text-align: left;">Graham Raymond Glazier</td>
            <td style="text-align: right;">6</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">?</td>
            <td style="text-align: left;">Stephen Andrew James</td>
            <td style="text-align: right;">?</td>
        </tr>
    </tbody>
</table>

<!-- Deputy GRAND SUPERINTENDENTS -->
<table
    style="margin: 0; margin-top: 8px; font-size: 7pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <thead>
        <tr style="margin: 6px; padding: 0;">
            <th style="text-align: left; width: 18%;">Appointed</th>
            <th style="text-align: left; width: 70%;">DEPUTY GRAND SUPERINTENDENTS</th>
            <th style="text-align: right; width: 12%;">Years</th>
        </tr>
    </thead>
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1995</td>
            <td style="text-align: left; width: 70%;">Peter Marks</td>
            <td style="text-align: right; width: 12%;">11</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">2006</td>
            <td style="text-align: left; width: 70%;">Edward George Pinkett</td>
            <td style="text-align: right; width: 12%;">2</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">2008</td>
            <td style="text-align: left; width: 70%;">Ronald Brian Kiver</td>
            <td style="text-align: right; width: 12%;">4</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">2012</td>
            <td style="text-align: left; width: 70%;">Garth Underhill</td>
            <td style="text-align: right; width: 12%;">3</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">2015</td>
            <td style="text-align: left; width: 70%;">Christopher James Lill</td>
            <td style="text-align: right; width: 12%;">3</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">2018</td>
            <td style="text-align: left; width: 70%;">Michael Edward Worne</td>
            <td style="text-align: right; width: 12%;">2</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">?</td>
            <td style="text-align: left; width: 70%;">Julian Mitchell</td>
            <td style="text-align: right; width: 12%;">?</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">?</td>
            <td style="text-align: left; width: 70%;">Mark Christopher Hinsley</td>
            <td style="text-align: right; width: 12%;">?</td>
        </tr>
    </tbody>
</table>