<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: var(--font-title); margin: 0 0 4px 0; font-weight: bold;">Title</h2>
</div>

<div style="font-size: var(--font-body); display: flex; flex-direction: column;">
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
    <h3  style="font-size: var(--font-heading-secondary); margin: 0; font-weight: bold;">Heading</h3>
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
    <h3  style="font-size: var(--font-heading-secondary); margin: 0; font-weight: bold;">Heading</h3>
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
</div>