<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; font-weight: bold;">Title</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
    <h3  style="font-size: 8pt; margin: 0; font-weight: bold;">Heading</h3>
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
    <h3  style="font-size: 8pt; margin: 0; font-weight: bold;">Heading</h3>
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        tbc
    </p>
</div>