<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 0; font-weight: bold;">{{ section_title }}</h2>
</div>

<p style="font-size: 8pt; line-height: 1.5;">
    Duis non consequat sem. Aliquam hendrerit, velit eu pharetra sagittis, purus magna vulputate augue, vitae dapibus erat ex vel purus. Nunc pulvinar sagittis vestibulum. Sed a ex at augue porttitor pulvinar sit amet ut urna. Sed at nisl eu purus varius lobortis. Cras vulputate dictum dui, a vehicula erat imperdiet nec. In bibendum, risus ac mattis sagittis, est enim faucibus arcu, et facilisis nisi nunc ut justo. Sed ac imperdiet ipsum. Nunc sollicitudin tincidunt nisl, non euismod velit feugiat vitae. Etiam vel enim id ipsum porttitor luctus. Cras at tellus ac elit pharetra iaculis. Nulla a malesuada nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et neque vestibulum, tincidunt nunc vel, porttitor tellus. Aliquam mollis enim sem, sodales hendrerit nibh ornare eu. Quisque dapibus fermentum augue at fermentum.
</p>
