<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; font-weight: bold;">Introduction to The Order of the Allied Masonic Degrees</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;">
        The Order of the Allied Masonic Degrees is administered from Mark Masons Hall, having being constituted in 1879 and has been in its present form since 1931. To be become a member you have to be a Royal Arch Mason and a Mark Master Mason.
    </p>
    <p style="line-height: 1.5;">
        The Order has five diverse and extremely interesting Degrees. The first Degree taken on your admission into the Order is that of the Degree of St Lawrence the Martyr.  
        The other Four Degrees are Knights of Constantinople, Red Cross of Babylon, Grand Tilers of Solomon, and the Grand High Priests, and these degrees can be taken in any order.
    </p>
    <p style="line-height: 1.5;">
        There are nine Councils in the Southern Counties District, with one located in Wimborne, which meets on 3rd Saturday in January and 2nd Saturday in March and July.
        The regalia consists of a composite breast jewel, depicting the symbols of the five Degrees and is awarded on the completion of all five ceremonies, thus keeping the cost to a minimum. 
    </p>
    <p style="line-height: 1.5;">
        The real charm of this Order is it's variety; no meeting is just the same as the one before. There are different officers and lectures for each Degree, so every member has the opportunity to participate in the ceremonies, which are dramatic, with much role playing. However, at its heart are serious moral lessons, which can not fail to enlighten and impress the candidate. So come and join us, and experience another exciting facet of freemasonry.
    </p>
</div>