<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; margin-bottom:4px; font-weight: bold;">Introduction to Knights Templar</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;margin: 4px 0;">
        The United Orders of the Temple and of Malta together constitute one of the principal Christian Orders in Freemasonry worldwide. The qualification for admission is full membership of ‘Pure, Antient Masonry’ – in other words, both the Degree of a Master Mason and that of the Holy Royal Arch. The Temple and Malta ceremonies are not related to the Legends portrayed in the ritual
        of the Craft and Royal Arch but are based on the fascinating history of the Medieval Orders in the Holy Land and until their final demise.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        The ‘Precepts’ of the Order of the Temple are to: ‘Love, honour, and fear God; walk after His Commandments. Maintain and defend the Christian faith and the honour, dignity and interests of our Order. Be loyal to your Sovereign, dutiful to the Grand Master and obedient to those who rule over you. Prefer honour to wealth. Be just and true in word and deed. Give no willing cause of offence to any; but, while opposing wrong and injustice, deport yourselves courteously and gently. Assist the distressed, the widow and the fatherless. Eschew all debasing employment, recreation and company; abhor pride and selfishness and so raise the standard of chivalrous honour, striving for the welfare of your Brethren.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        The Province of Dorset and Wiltshire is the oldest Province in the Order, having been ‘Erected’ by the Duke of Sussex, then Grand Master of both the United Grand Lodge of England and the Great Priory of the United Orders of the Temple and of Malta, in 1836. Royal Arch Masons who may be interested in learning more of these absorbing Orders will find on enquiry of Scribes Ezra that there is a representative among the members of every Chapter in both Dorset and Wiltshire; or enquiries are always welcomed by the Provincial Vice-Chancellor.
    </p>
</div>