<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; font-weight: bold;">Introduction to Knight Templar Priests</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;">
        The Holy Royal Arch Knight Templar Priests and Order of Holy Wisdom, is a
        gentle, reflective Religious Order. 
    </p>
    <p style="line-height: 1.5;">
        The Order is Worldwide and is now administered from it’s headquarters in
        York, with more than 260 Tabernacles in over 20 Countries, from Australia to
        South Africa and Spain to Brazil.
    </p>
    <p style="line-height: 1.5;">
        In England there are 24 Districts, comprising of 193 Tabernacles. There are Two Tabernacles Meeting in Dorset (Blandford & Kinson) and One in
        Marlborough Wiltshire, forming the District of Dorset & Wiltshire.  Locations of all our Tabernacles can be found on our website: <a href="https://knighttemplarpriests.com" target="_blank">knighttemplarpriests.com</a>.
    </p>
    <p style="line-height: 1.5;">
        To qualify for Membership as a Knight Templar Priest a Candidate must be a
        subscribing Master Mason of 3 Years in the Craft, a subscribing Royal Arch
        Mason, a subscribing Knight Templar Mason and must make a Statement of
        Faith.  Why being a Christian is necessary, is found in the Admission Ceremony into
        this beautiful Masonic Order.
    </p>    
    <p style="line-height: 1.5;">
        If you would like further information, please contact:
        Grand College. Napier-Clavering Court. 6 Forest Business Park, Selby Road, Fulford, York. YO19
        4RH. 01904 622102.
    </p>
</div>