<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; margin-bottom:4px; font-weight: bold;">Introduction to Mark Masonry</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;margin: 4px 0;">
        This degree is open to all Master Masons. The 'Mark' portion of the
title of the degree takes its name from the practice of the stonemason
appending his unique mark on his work to identify it, either for the
purpose of subsequent payment, or simply for posterity, or as a matter of
pride in his work.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
This is a practice which has existed from time immemorial;
cathedrals and other prominent buildings all over the world carry the
marks of the men who built them, which can still be seen quite clearly
on masonry which is over a thousand years old.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        Although there is no hard evidence to support it, in all probability the
stone mason lodges, having been set up in the first instance as part of a
medieval 'trade union' to protect the interests of time-served craftsmen
and prevent infiltration by bogus builders, became refuges for its
members and created a way of life and set of rules for its members to
follow which would have certainly been based on religious principles
(i.e. in those days Christianity). The ethical standards adopted by such
lodges would have been high, and loyalty between its members would
have been strong. The lodge therefore would have been a sought-after
organization to join.
    </p>
</div>