<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; font-weight: bold;">Introduction to the Order of the Secret Monitor</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;">
        This Order is administered from Mark Masons’ Hall, London, being completely separate from all other Orders in Freemasonry, although the Ceremonies were at one time part of the Allied Masonic degrees, having been brought to England from America around 1887. History tells us that the “Order of David & Jonathan” was taken to the New World in or about 1658 by Dutch settlers. The inauguration meeting of Alfred Meadows Conclave No. 1 was held in London on 15th July 1887.
    </p>
    <p style="line-height: 1.5;">
        It is rightly known as the Friendly Degree. This takes its rise from the fact that every Brother in a Conclave (Lodge) is assigned to a Visiting Deacon, who is duty bound to contact his charges, by telephone or preferably in writing, at least once between meetings, to enquire as to the welfare of the Brother and his family. This is the fundamental basis of the Order in that it establishes a “Friendship” between the Visiting Deacon and his allocated Brethren.
    </p>
    <p style="line-height: 1.5;">
        The Ceremonies are based on the friendship between David and Jonathan, which can be found in the Book of Samuel, Chapters 20, 22 and 23.
    </p>
    <p style="line-height: 1.5;">
        There are three Degrees in the Order; Induction Ceremony, Princes Degree and the Third Degree which is when a Brother is installed as a Supreme Ruler of his Conclave. At this point he is also commissioned, usually by the Provincial Grand Supreme Ruler or his Deputy, as a Supreme Ruler within the Order. This entitles him to conduct Ceremonies in any Conclave.
    </p>
    <p style="line-height: 1.5;">
        Conclaves are arranged in Provinces in the British Isles and Districts overseas and are governed by the Grand Supreme Ruler. Each Province has a Provincial Grand Supreme Ruler, his Deputy and an Executive Committee.
    </p>
    <p style="line-height: 1.5;">
        Inter Conclave and Inter Province visiting is encouraged where friendships are made and maintained.
    </p>
</div>