<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; margin-bottom:4px; font-weight: bold;">Introduction to the Operatives</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;margin: 4px 0;">
        The Worshipful Society of Free Masons, Rough Masons, Wallers, Slaters, Paviors, Plasterers and Bricklayers often known by it’s familiar name of the ‘Operatives’ is probably one of the lesser known companion orders meeting in Dorset nonetheless is possibly one of the most interesting! 
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        An invitational body dedicated to the preservation of the history and workings of operative guild masonry.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        It’s a Masonic Society which exists to perpetuate a memorial of the practices of operative Free Masons existing prior to modern speculative Freemasonry tracing it’s origins back to Operative or Guild Masons who were organised in England with royal approval dating at least from as early as the Grand Assemblage of 926 in York, which is reputed to have been authorised and encouraged by King Athelstan.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        Membership of the Society is restricted to those who are Master Masons, Mark Master Masons and Holy Royal Arch Companions in good standing.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        The regalia is minimal and consists of a blue cord or blue collarette from which is suspended the badge of the member's grade.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        As part of the South West Counties Region, Purbeck Quarries Assemblage is the fourth oldest assemblage in the world and meets four times a year at Wareham.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        If you are interested in finding out more about the society or would be interested in joining then please contact the Clerk of the assemblage, who would be delighted to tell you more!
    </p>
</div>