<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; margin-bottom:4px; font-weight: bold;">Introduction to the Ancient and Accepted Rite</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;margin: 4px 0;">
        The Ancient and Accepted Rite derives from the Rite of Perfection, which developed in France mainly in the quarter-century before September 1762. The Grand Constitutions of 1786, dated May 1786, describe the Ancient and Accepted Rite, consisting of thirty-three degrees, largely as it exists today.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        Candidates join in a ceremony that confers the 18th degree, also known as the “Rose Croix” which over time has become an informal name for the Order itself.
    </p>
    <h3 style="font-size: 8pt; margin: 0; font-weight: bold;">Who can join?</h3>
    <p style="line-height: 1.5;margin: 4px 0;margin-top: 0;">
        Candidates for the Ancient and Accepted Rite must have been regularly initiated in a Lodge under the United Grand Lodge of England, have been a Master Mason for at least six months and be in good standing with the Craft. Membership is open to holders of all faiths.
    </p>
    <h3 style="font-size: 8pt; margin: 0; font-weight: bold;">How is it organised?</h3>
    <p style="line-height: 1.5;margin: 4px 0;margin-top: 0;">
        The sovereign power of the Ancient and Accepted Rite is a Supreme Council, which equates to a Grand Lodge in Craft Masonry. Supreme Councils exist throughout the world, each covering a geographical area. In England and Wales the Order is governed by The Supreme Council 33° of the Ancient and Accepted Rite for England and Wales and its Districts and Chapters Overseas, whose headquarters, known as the Grand East, are located at No 10 Duke Street, St. James’s, London. Our Supreme Council was formed in 1845.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        Members of the Ancient and Accepted Rite belong to Chapters and Chapters are grouped together in Districts. 
        Today there are around 900 Chapters owing allegiance to our Supreme Council, and while the majority are situated in England and Wales, the Supreme Council has warranted chapters of the Order in around 20 different countries.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        The District of Dorset consists of nine Chapters located in Weymouth, Dorchester, Poole, Blandford (2), Kinson, Portland, Shaftesbury, and Wimborne.
    </p>
</div>