<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: var(--font-title); margin: 0 0 4px 0; font-weight: bold;">Introduction to the Red Cross of Constantine</h2>
</div>

<div style="font-size: var(--font-body); display: flex; flex-direction: column;">
    <p style="line-height: 1.5;margin: 4px 0;">
        The Masonic and Military Order of the Red Cross of Constantine offers a masonic experience that is truly unique. It is a Christian fraternal order that provides a profound blend of tradition, spirituality, and fellowship. Its ritual commemorates Constantine’s conversion to the Christian Faith and celebrates his decision to raise Christianity from the position of a despised and proscribed heresy to that of a legally recognized and honoured religion. The Order also aims to reinforce the social and moral values and the bonds of friendship and mutual support that underpin all of Freemasonry.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        Knights-Companion of the Red Cross progress to two Appendant Orders, known as the Order of the Holy Sepulchre and the Order of St John the Evangelist. These ceremonies are recognised as among the most impressive and spiritually enriching ceremonies in all Freemasonry. They remind a Knight of the fundamental tenets of the Christian Faith and provide a Christian perspective on the workings of the Craft and the Royal Arch.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        The Division of Dorset and Wiltshire consists of six units (called Conclaves) based in Branksome, Kinson, Salisbury  and Wareham. Plans are well advanced to open a seventh Conclave in Blandford. Regalia is simple – just a sash and two jewels. Most Conclaves meet only three times a year with a Divisional Meeting each November. If you are a subscribing Craft and Royal Arch Mason who professes the Trinitarian Christian Faith, you are eligible to join and you can be assured of a warm welcome to this Order which has a strong reputation for teamwork and camaraderie. Don’t just be a spectator – become a Knight-Companion and be part of a living tradition.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        To take the next step, contact the Divisional Recorder today at <a href="mailto:dorsetwiltsrcc@gmail.com">dorsetwiltsrcc@gmail.com</a> and begin your journey with the Red Cross of Constantine. Your Conclave awaits!
    </p>
</div>