<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; font-weight: bold;">Introduction to the Royal Order of Scotland</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;margin: 4px 0;">
        The Royal Order of Scotland is one of the most historic Orders within Freemasonry and can trace its regal roots back 700 years to Robert the Bruce, who is said to have conferred knighthoods on a group of Freemasons who assisted him in his victory over the English at the Battle of Bannockburn in 1314. Those knights are recognized as the first members of the Order.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        It is a global Order that initially spread throughout France, during the mid to late 18th Century before receding just as quickly, perhaps because of the persecution of Freemasons. However, by the middle of the 19th century it began to flourish again. 
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        The Order, administered by Grand Lodge in Edinburgh, draws its membership exclusively from within Freemasonry and strictly by invitation. To be considered for membership one must profess the Trinitarian faith and have five years continuous good standing as a Master Mason and recommended by two members who will have assessed your suitability to join before inviting you to apply
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        There are 95 Provincial Grand Lodges throughout the world, the work they perform to admit new members is the same as Grand Lodge using the Order's ritual performed in English. The oldest was established in Sweden, where in a Stockholm masonic building a Tower of Refreshment was uncovered—still used today in awarding one of the Order’s two degrees:
        <ul>
            <li>Heredom of Kilwinning</li>
            <li>Knights of the Rosy Cross</li>
        </ul>
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        The ritual reflects the aspects of many other orders in Freemasonry and potentially allows the candidate to reflect on experiences previously attained during his masonic journey. It is usually learnt and rehearsed without scripts and includes a considerable amount of rhyming verse delivered in catechisms between the various officers. 
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        The Provincial Grand Lodge of Dorset meets at Kinson three times a year and currently has 75 members.
    </p>
</div>