<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; font-weight: bold;">Introduction to Order of Royal and Select Masters</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;">
        We are all aware that the building, destruction and rebuilding of the Temple at Jerusalem forms the cornerstone of our Masonic ritual and that these legends and, in particular, the search for the Master Word are allegorical representations of the search for Truth, the essence of our Masonic philosophy. 
    </p>
    <p style="line-height: 1.5;">
        In the third degree, we are informed that the ‘Word’ or, more precisely, the form of its pronunciation was deemed to have been lost following the death of Hiram Abiff, only to be rediscovered in and underground vault by the Sojourners preparing the ground for the foundation of the second Temple some 470 years later. 
    </p>    
    <p style="line-height: 1.5;">
        The Order of Royal and Select Masters, sometimes known as the Cryptic Degrees, is open to those who are both Mark and Royal Arch Masons.  It consists of four highly dramatic ceremonies that form a vital and interesting link between the Craft and Holy Royal Arch, making the connection more logical while completing the legend of King Solomon and his Temple.
    </p>
</div>