<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: var(--font-title); margin: 0 0 4px 0; font-weight: bold;">Introduction to Societas Rosicruciana in Anglia </h2>
</div>

<div style="font-size: var(--font-body); display: flex; flex-direction: column;">
    <h3 style="font-size: var(--font-heading-secondary); margin: 0; font-weight: bold;">Objectives of the Society</h3>
    <p style="line-height: 1.5;margin: 4px 0;">
        The Society’s mission is to provide mutual support and encouragement in unravelling life’s mysteries and uncovering nature’s secrets. We aim to facilitate the study of the philosophy rooted in the Kabbalah and the teachings of Hermes Trismegistus, as propagated by the original Fratres
        Rosae Crucis of Germany, AD 1450.
    </p>
    <h3 style="font-size: var(--font-heading-secondary); margin: 0; font-weight: bold;">Society’s Regulations</h3>
    <p style="line-height: 1.5;margin: 4px 0;">
        The Society is open to Master Masons who share a commitment to the fundamental principles of the Trinitarian Christian Faith. Organised into three Orders and nine Grades, each has its own ceremony and lecture. Its purpose is to unite Freemasons with a philosophical mindset and
        inspire each other in their philosophical and scholarly pursuits.
    </p>
    <h3 style="font-size: var(--font-heading-secondary); margin: 0; font-weight: bold;">Rosicrucian Philosophy</h3>
    <p style="line-height: 1.5;margin: 4px 0;">
        Initially a secret Order, the Rosicrucians emerged 120 years after the Founder’s death as an established but ‘invisible’ Fraternity at the turn of the 17th century. The publication of two manifestos: the Fama Fraternitatis and Confessio Fraternitatis in Germany in 1614/15 invited Europe’s learned to join them in an educational, moral, and scientific reformation of society.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        The Rosicrucian Fraternity primarily focuses on imparting spiritual, philosophical, and ethical truths of the highest calibre. Like Freemasonry, Rosicrucianism promotes the fellowship of Man and the understanding of his place in Creation. The SRIA invites Master Masons seeking further enlightenment to join and participate in our fraternal assembly’s objectives: “The Diffusion of Light and the Advancement of Science.”
    </p>
</div>