<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; margin-bottom:4px; font-weight: bold;">Introduction to the Commemorative Order of St Thomas of Acon</h2>
</div>

<div style="font-size: 7pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;margin: 4px 0;">
        All Candidates for admission as a Knight of the Order shall be a subscribing Master Mason in a Craft Lodge, Royal Arch Mason and Knight Templar, or their equivalent in other countries which are recognised and in amity with the United Grand Lodge of England, Supreme Grand Chapter of England and with the United Religious Military and Masonic Orders of the Temple and of St. John of Jerusalem, Palestine, Rhodes and Malta in England Wales and its Provinces Overseas as stated in the Constitutions of the Order. Membership is by <strong>invitation only</strong>.
    </p>
    <p style="line-height: 1.5;margin: 4px 0;">
        The St. Thomas referred to in its title was St. Thomas 'a Becket.  The Order is named after him because the first Prior built a church which he dedicated to St. Thomas 'a Becket, who had been murdered in Canterbury Cathedral not long beforehand. That church was built in Acre, scene of a terrible Siege in the twelfth century. Acre was subsequently Anglicised to 'Acon' but for those who wish to locate its place of origin more precisely, Acre is now known as Akko in the State of Israel.
    </p>
</div>