<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 6px 0; font-weight: 600;">Grand Officers</h2>
    <h3 style="font-size: 12pt; margin: 4px 0;">Grand Officers within the Province of Dorset</h3>
</div>

<table style="margin: 6px 0; font-size: 7pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <thead>
        <tr>
            <td style="width: 10%; font-weight: 600;">Date</td>
            <td style="width: 50%; font-weight: 600;">Name</td>
            <td style="width: 10%; font-weight: 600;">Lodge</td>
            <td style="width: 40%; font-weight: 600;">Rank</td>
        </tr>
    </thead>
    <tbody>               
        <tr>
            <td>1994</td>
            <td>Kenneth Henry Barnes</td>
            <td>7873</td>
            <td>PProvGM (Dorset)</td>
        </tr>
        <tr>
            <td>1993</td>
            <td>Kenneth Henry Barnes</td>
            <td>7873</td>
            <td>JGD</td>
        </tr>
        <tr>
            <td>2024</td>
            <td>Stephen Andrew James</td>
            <td>1266</td>
            <td>ProvGM</td>
        </tr>
        <tr>
            <td>2014</td>
            <td>Stephen Andrew James</td>
            <td>1266</td>
            <td>Asst ProvGM</td>
        </tr>       
        <tr>
            <td>2009</td>
            <td>Stephen Andrew James</td>
            <td>1266</td>
            <td>PAGDC</td>
        </tr> 
    </tbody>
</table>