<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 0; font-weight: 600;">The United Grand Lodge of England</h2>
    <h3 style="font-size: 12pt; margin: 4px 0;">Officers of The United Grand Lodge of England 2026-2027</h3>

    <h4 style="font-size: 10pt; margin: 4px 0; font-weight: 600;">Grand Master</h3>
    <h4 style="font-size: 10pt; margin: 0;">HRH THE DUKE OF KENT KG, GCMG, GCVO, ADC</h3>
</div>

<table style="margin: 8px 0; font-size: 9pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">   
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 40%;">Pro Grand Master</td>
            <td style="text-align: right;">JONATHAN SPENCE, DL</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 40%;">Deputy Grand Master</td>
            <td style="text-align: right;">SIR MICHAEL SNYDER</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 40%;">Assistant Grand Master</td>
            <td style="text-align: right;">STEVEN VARLEY</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 40%;">Assistant Grand Master</td>
            <td style="text-align: right;">JOHN PAUL THOMPSON</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 40%;">Assistant Grand Master</td>
            <td style="text-align: right;">CHARLES HOPKINSON-WOOLLEY</td>
        </tr>
    </tbody>
</table>