<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: var(--font-title); margin: 0 0 4px 0; font-weight: bold;">Placeholder Page</h2>
</div>

<div style="font-size: 8pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;">
        Duis non consequat sem. Aliquam hendrerit, velit eu pharetra sagittis, purus magna vulputate augue, vitae
        dapibus erat ex vel purus.
    </p>
    <p style="font-weight: 600; font-style: italic; text-align: right;">
        Deputy Grand Superintendent<br />
        Mark Christopher Hinsley
    </p>
</div>