<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <img src="../images/provincial-crest-sml.jpg" style="width: 40%; display: block;"/>
    <p style="font-size: 8pt; line-height: 1.5;">
        Compiled under the authority of the Provincial Grand Lodge of Dorset.
        By a team lead by the Assistant Provincial Grand Master WBro Michael Parkes, PSGD.</p>
    <p style="font-size: 8pt; font-style: italic; line-height: 1.5;">
        John Allan, Harry Barnes, Severin Cardy, Robert Fairlie, Neal Fry, Kevin Gaertig, Mark Gibson, Andrew Larkin, Andrew MacKie, John Pearce, Andrew Rogers, Colin Sandall, Benjamin Turner, and Terence Whicker.
    </p>    
    <p style="font-size: 7pt; line-height: 1.5;">
        Version: {{ publish_version }}.  Published: {{ current_date }}, with data corrected to {{ data_corrected_date }}. For the most up-to-date information, please visit <a href="https://dorsetfreemasonry.info/calendar">https://dorsetfreemasonry.info/calendar</a>.
    </p>
    <p style="font-size: 7pt; line-height: 1.5;">
        Copyright © {{ current_year }} Dorset Freemasonry. All rights reserved. No part of this publication may be reproduced, distributed, or transmitted in any form or by any means, including photocopying, recording, or other electronic or mechanical methods, without the prior written permission of the publisher, except in the case of brief quotations embodied in critical reviews and certain other noncommercial uses permitted by copyright law.        
    </p>
</div>

