<div style="text-align: center; padding: 20px; font-family: Helvetica; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 style="font-size: 20pt; margin: 0 0 10px 0; font-weight: bold;">Provincial Grand Lodge of Dorset</h1>
    <h2 style="font-size: 16pt; margin: 0 0 10px 0; font-weight: bold;">Dorset Masonic Calendar</h2>
    <img src="../images/provincial-crest.png" style="max-width: 200px; height: auto; margin: 10px 0;"/>
    <h3 style="font-size: 14pt; margin: 0 0 10px 0; font-weight: bold;">2026-27</h3>
</div>
