<div class="cover-spread" style="--panel-width: {{ panel_width }}; --spine-width: {{ spine_width }}; --text-margin: {{ text_margin }}; --spine-font-size: {{ spine_font_size }}; --spine-font-family: {{ spine_font_family }}; --spine-font-weight: {{ spine_font_weight }}; --spine-text-color: {{ spine_text_color }}; --cover-background: {{ background_color }};">
    <div class="cover-panel cover-panel-obc">
        <img src="{{ back_image }}" alt="" />
    </div>
    <div class="cover-spine">
        <div class="cover-spine-text">{{ spine_text }}</div>
    </div>
    <div class="cover-panel cover-panel-ofc">
        <img src="{{ front_image }}" alt="" />
    </div>
</div>
