
<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
     <h2 style="font-size: 10pt; font-weight: bold; margin: 0 4pt 0;">Data Protection Policy</h2>
</div>

<div style="font-size: 6pt; line-height: 1.3; padding: 10px;">
    <p style="margin: 0; padding: 0;">This data protection policy regulates how the Masonic Province of Dorset processes and stores personal data of its members. It applies to all employees, officers, members and volunteers of the Province. Its purpose is to ensure that the Province complies with the law and operates to high data protection standards.</p>

    <p style="margin: 0; padding: 0;">In this policy:</p>
    <p style="margin: 0; padding: 0; margin-left: 20pt;">
        <strong>a.</strong> Province - includes The Provincial Grand Lodge and Royal Arch Chapter of Dorset, and all individual Lodges and Chapters (Units) in the Masonic Province of Dorset<br>
        <strong>b.</strong> Personal data - means any recorded information which identifies a living individual<br>
        <strong>c.</strong> Book of Constitutions - means the General Laws and Regulations of the United Grand Lodge of England and the Supreme Grand Chapter of Royal Arch Masons of England for the government of the Craft and Royal Arch respectively
    </p>

    <h3 style="font-weight: bold; margin: 1pt 0;">1. Purpose</h3>
    <p style="margin: 0; padding: 0;">As a membership organisation Province processes, retains and shares personal data of its members for the purposes set out in the "Data Protection Notice - Province of Dorset", which is attached to this Policy. Where Province employs or contracts with a member it may also process, retain and share personal data of that member for all lawful purposes related to that employment or contractual relationship. Province shall not collect or store personal data of members for any other purposes.</p>

    <h3 style="font-weight: bold; margin: 1pt 0;">2. Appointment of a Data Protection Officer</h3>
    <p style="margin: 0; padding: 0;">Province has appointed a Data Protection Officer, who will oversee compliance with data protection law and will act as a point of contact for members and the Information Commissioner's Office (the "ICC'). The Data Protection Officer has a direct line of communication with the Provincial Grand Master for Dorset and the Most Excellent Grand Superintendent in and over Dorset. He shall have, or shall undergo, training to ensure that he has knowledge of data protection law and practices. The Data Protection Officer in the Masonic Province of Dorset is the Craft Provincial Grand Registrar who may be contacted using <a href="mailto:prgreg@dorset-freemasonry.org" style="font-size:6pt;">prgreg@dorset-freemasonry.org</a>.</p>

    <h3 style="font-weight: bold; margin: 1pt 0;">3. Members' Data Rights</h3>
    <p style="margin: 0; padding: 0;">A member may request that the Data Protection Officer:</p>
    <ol style="margin: 0; padding: 0; margin-left: 20pt; list-style-type: lower-alpha;">
        <li>Provides him with a copy of all personal data that Province holds about him. The Data Protection Officer shall promptly provide a copy of all information required to be disclosed by law</li>
        <li>Rectifies any incorrect personal data held by Province about him. The Data Protection Officer shall promptly consider such a request and respond to it in accordance with the law</li>
        <li>Stops Province from processing some or all of his personal data. The Data Protection Officer shall promptly consider such an objection and respond to it in accordance with the law</li>
    </ol>

    <h3 style="font-weight: bold; margin: 1pt 0;">4. Deletion of Personal Data</h3>
    <p style="margin: 0; padding: 0;">A member may resign from all Units in the Masonic Province of Dorset at any time. After it has processed such resignation(s), Province shall delete the personal data that it holds about that member except:-</p>
    <ol style="margin: 0; padding: 0; margin-left: 20pt; list-style-type: lower-alpha;">
        <li>Records reasonably necessary to prevent the member from improperly re-applying for membership</li>
        <li>Records of the member's career in Freemasonry for archive and historical purposes</li>
    </ol>

    <h3 style="font-weight: bold; margin: 1pt 0;">5. Sharing Data with Third Parties</h3>
    <p style="margin: 0; padding: 0;">As a membership organisation Province shares:</p>
    <ol style="margin: 0; padding: 0; margin-left: 20pt; list-style-type: lower-alpha;">
        <li>Personal data of its members with the United Grand Lodge of England and the Supreme Grand Chapter of Royal Arch Masons of England</li>
        <li>Personal data of members of each Unit in the Province with that Unit respectively</li>
        <li>Personal data of its members with other Masonic Provinces, Units under the constitution of the United Grand Lodge of England and the Supreme Grand Chapter of Royal Arch Masons of England</li>
    </ol>
    <p style="margin: 0; padding: 0;">Except as specified in paragraphs 5a, 5b, and 5c or as otherwise required or permitted by the Book of Constitutions or bodies it sanctions from time to time, Province will not share personal data of members unless it has the consent of the relevant member.</p>

    <h3 style="font-weight: bold; margin: 1pt 0;">6. Data Protection Notice</h3>
    <p style="margin: 0; padding: 0;">Province shall publish a "Data Protection Notice" so that it is available to members. The Notice shall comply with the requirements of data protection law and among other things shall inform members how their personal data will be used by Province and how they may contact Province's Data Protection Officer. Data required for our use as a membership organisation is held by Grand Lodge, Supreme Grand Chapter, Provincial Grand Lodge, Provincial Grand Chapter and the Lodge (s) and Chapter (s) of which you are a member. In order to comply the data protection legislation, your attention is directed to the Provincial Data Protection Policy and Notices referred to therein on the Provincial and UGLE website.</p>

    <h3 style="font-weight: bold; margin: 1pt 0;">7. Data Security</h3>
    <p style="margin: 0; padding: 0;">Province shall periodically review the security of its records and processing activities and shall take appropriate steps to ensure the confidentiality, integrity and availability of the personal data that it holds.</p>

    <h3 style="font-weight: bold; margin: 1pt 0;">8. Registration with ICO</h3>
    <p style="margin: 0; padding: 0;">Province shall maintain its annual registration with the ICO.</p>

    <h3 style="font-weight: bold; margin: 1pt 0;">9. Reporting Breaches to the Data Protection Officer</h3>
    <p style="margin: 0; padding: 0;">Actual or potential breaches of this Policy, or of data protection law by Province, shall be reported immediately to the Data Protection Officer. Breaches shall be reported if required via the Data Protection Officer to the ICO or directly to the member(s) whose data is affected. Normally the Data Protection Officer shall not report breaches without prior consultation with the Provincial Grand Master and/or the Most Excellent Grand Superintendent. Further information on Data Protection legislation can be obtained at the ICO website: <a href="https://www.ico.org.uk" target="_blank">www.ico.org.uk</a></p>

    <p style="margin-top: 6pt; font-weight: 600; font-style: italic; text-align: right;">Provincial Grand Registrar of Dorset<br>Data Protection Officer</p>

</div>
