<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 0; font-weight: bold;">Foreword</h2>
</div>

<p style="font-size: 8pt; line-height: 1.5;">
Welcome to the 2026 Masonic Calendar.
</p>
<p style="font-size: 8pt; line-height: 1.5;">
All organisations evolve and change, it’s inevitable, Freemasonry has over the last 300yrs evolved, changed, and developed. However, many aspects virtues and strengths are as true now as they always have been and hopefully always will be.
</p>
<p style="font-size: 8pt; line-height: 1.5;">
Communication has changed, email, social media, and mobile communication, we are always in touch, this is important and useful, but there is also space in our lives to reflect and consider with no pressure to respond.
</p>
<p style="font-size: 8pt; line-height: 1.5;">
This edition of the Dorset Masonic Calendar is in response to requests to print a familiar and useful guide to Who’s Who, Where and When in Dorset Freemasonry, you can  gather information and enjoy this  gentle resource at any time or place, it does not need batteries or sunlight it just is.
</p>
<p style="font-size: 8pt; line-height: 1.5;">
It is my hope that this retro version of the calendar / almanac, will encourage you to not only look at your listings but consider all of the entries, discover all of the rich and diverse aspects of Freemasonry in Dorset.
</p>