<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 0; font-weight: bold;">Foreword</h2>
</div>
<div style="font-size: 8pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.2;">
    Welcome to the 2026 Masonic Calendar.
    </p>
    <p style="line-height: 1.2;">
    All organisations evolve and change; it’s inevitable. Freemasonry has evolved, changed, and developed over the last 300 years. However, many aspects of it's virtues and strengths are as true now as they always have been and hopefully always will be.
    </p>
    <p style="line-height: 1.2;">
    Communication has changed, with email, social media, and mobile communication, we are always in touch. This is important and useful, but there is also space in our lives to reflect and consider without pressure to respond.
    </p>
    <p style="line-height: 1.2;">
    This edition of the Dorset Masonic Calendar is in response to requests to print a familiar and useful guide to Who’s Who, Where and When in Dorset Freemasonry. You can gather information and enjoy this gentle resource at any time or place; it does not need batteries or sunlight, it just is.
    </p>
    <p style="line-height: 1.2;">
    It is my hope that this retro version of the calendar / almanac, will encourage you to not only look at your listings but also consider all of the entries, discover all of the rich and diverse aspects of Freemasonry in Dorset.
    </p>
    <p style="font-weight: 600; font-style: italic; text-align: right; line-height: 1;">
    Provincial Grand Master for Dorset<br/>
    Stephen Andrew James
    </p>
</div>