<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 16pt; margin: 0; font-weight: bold;">Foreword</h2>
    <img src="../images/provincial-grand-master.jpg" style="max-width: 75%; height: auto; margin: 10px 0;"/>
</div>

<p style="font-size: 10pt; line-height: 1.5;">
The size and scope of the Dorset Masonic Calendar has naturally grown
and widened over 235 years of the development of the Masonic Province of
Dorset, from a minor document, barely one quarter of an inch thick in
earlier times, to its present substantial form of today. The publication
contains a comprehensive wealth of information and reference, presented in
a clear and concise format, and is made available to all members of the
Province whatever their station.</p>
<p style="font-size: 10pt; line-height: 1.5;">
The size and scope of the Dorset Masonic Calendar has naturally grown
and widened over 235 years of the development of the Masonic Province of
Dorset, from a minor document, barely one quarter of an inch thick in
earlier times, to its present substantial form of today. The publication
contains a comprehensive wealth of information and reference, presented in
a clear and concise format, and is made available to all members of the
Province whatever their station.</p>
<p style="font-size: 10pt; line-height: 1.5;">
The Calendar records the creation and progress of all of our 49 Lodges,
(plus Royal Arch Chapters and other Orders) and lists, for ongoing
reference and interest, the succession of the Provincial Executive, Grand
Officers and Provincial and private Lodge Appointments year on year,
together with detailed information of membership, meeting dates, locations
and other important matters pertinent to each private Lodge and individual
Member.</p>
<p style="font-size: 10pt; line-height: 1.5;">
Researchers, and Brethren with an interest in reviewing the roots and
history of their Lodges and Fellows, will be able to plot their own
individual Masonic careers, together with those of other individuals, from
their first entrance into the Order, details of their progress through the
various Offices of the Lodge to the Worshipful Master’s Chair and
subsequent elevation, where appropriate, to Provincial and/or Grand Rank.
Each page contains detailed information, readily available as a current
source of reference and reminder, or as an evolving record of the long and
detailed history of our Province.</p>
<p style="font-size: 10pt; line-height: 1.5;">
In short, this series of volumes may be used in conjunction with other
Provincial documents to widen each Brother’s awareness of his Lodge, his
Province as well as his predecessors and contemporaries.</p>
<p style="font-size: 10pt; line-height: 1.5;">
Such a publication, updated as it is in detail each year, cannot be of true
value unless it contains accurate and reliable information. If any individual
by chance discovers any item of doubt or error, especially if relevant to his
own personal details and Masonic career, it is hoped that he will take the
trouble to contact the Editor, using the details supplied within, to advise
him of the need for adjustment or correction. Only in this way can we be
absolutely sure that the ever-growing records contained within the complete
set of volumes remains faithful to a true representation and record of this
Province.</p>
<p style="font-size: 10pt; line-height: 1.5;">
In commending these pages to you as a ready and easily portable source of
Page 10 Provincial Grand Lodge of Dorset reference and information, I would also draw to your special attention our
very comprehensive Provincial website at www.dorset-freemasonry.org
which, likewise, contains a wealth of pertinent and valuable information.
The web-site, being updated on a regular monthly basis, provides additional
news and detail of interest, not necessarily to be found in the Calendar.
Autumn 2014 saw the birth of Dorset’s adventure into Social Media by the
creation of Facebook and Twitter accounts. Although only a few months
old, our pages are proving to be popular, widely viewed and highly
successful. On-going news from Lodges detailing events, special occasions
and any other activity is essential to maintain a fresh stream of postings.</p>
<p style="font-size: 10pt; line-height: 1.5;">
Each Lodge has been requested to appoint a “media officer” for this
purpose. Make sure your Lodge is featured and seen! Comments, statements
and articles of any kind sent to media@dorsetfreemasonry.info will be
welcomed. Your Lodge’s profile will be enhanced in these important areas
of communication. No article should be considered too small or too trivial.
Every item of news will be of value in projecting the image of the Province
of Dorset to members and non-members alike.</p>
<p style="font-size: 10pt; line-height: 1.5;">
This annual publication cannot be achieved without a great deal of
dedication and industry on the part of those responsible for its creation. I
therefore take this opportunity to record my admiration and grateful thanks
to the Editor, WBro Matthew Burt, PPrGSwdB, and to all those who assist
him so greatly with the timely submission of the information necessary to
allow him to co-ordinate and present it in its orderly and user-friendly form.
May this year’s Dorset Calendar be of interest and value to you all, and may
you also continue to enjoy your Freemasonry to the full, in whatever
direction that may take you during 2015.</p>
