<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <!-- <h2 style="font-size: 14pt; margin: 0; font-weight: bold;">The Freemasons' Charity</h2> -->
     <img src="../../images/freemasons-charity-logo.png" style="width: auto; height: auto; margin: 4px 0;"/>
</div>

<p style="font-size: 8pt; line-height: 1.5;">
The Freemasons’ Charity, formerly the Masonic Charitable Foundation, supports a wide range of causes, combining financial aid, volunteer work, and community engagement to improve lives.
</p>
<p style="font-size: 8pt; line-height: 1.5;">
It is a funded entirely by Freemasons and it aims to build better lives by promoting opportunity, independence, and wellbeing. The organization is governed under the United Grand Lodge of England (UGLE).
</p>
<ul style="font-size: 8pt; line-height: 1.5;">
    <li>It provides grants to individuals in need, including support for the elderly, sick, disabled, and families facing hardship.</li>
    <li>It provides grants to charities both local and national.</li>
    <li>In Dorset for the financial year ending 1st April 2025, five local charities received grants totalling £23,250 and 35 individuals were helped with grants of £131,815.</li>
    <li>Figures are not yet published for 2026, but we know as a Province that we have supported MyTime Young Carers with a Community Grant of £50,000 and Lewis Manning Trust with a Grant of £40,000.</li>
</ul>
<p style="font-size: 8pt; line-height: 1.5;">
For further information visit <a href="https://freemasonscharity.org.uk" target="_blank">https://freemasonscharity.org.uk</a>
</p>
