<div style="break-before: always; break-inside: avoid; padding: 0px;{{ if override_break_before }} margin-top: 8pt;{{ end }}">
    <div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1 style="font-size: 11pt; margin: 0 0 4px 0; font-weight: 600; line-height: 1;">{{ section_title }}</h1>
    </div>
    <table style="width: 100%; border-collapse: collapse; table-layout: fixed; font-size: 4.8pt; border: 0px; line-height: 1;">
        <thead>
            <tr style="padding: 1px; border-left: none; border-right: none; background: #f0f0f0;">
                <th style="margin-left: 2px; text-align: left; font-weight: bold; padding: 0px;">
                    {{ year_label }}
                </th>
                <th style="width: 20px; margin: 0; text-align: center; font-weight: bold; white-space: nowrap; padding: 0px;">
                    &nbsp;
                </th>                
                {{ for month in months }}
                    <th style="width: 6%; margin: 0; text-align: center; font-weight: bold;">
                        {{ month.label }}
                    </th>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            {{ for row in rows }}
            <tr style="padding: 1px; border-left: none; border-right: none; border-top: 1px solid #000;">
                {{ if row.row_span > 0 }}
                <td rowspan="{{ row.row_span }}" style="width: 25%; margin-left: 2px; text-align: left; overflow: hidden; white-space: nowrap; vertical-align: middle;">
                    {{ row.unit_name }}
                </td>
                <td rowspan="{{ row.row_span }}" style="width: 3%; margin: 0; text-align: center; vertical-align: middle;">
                    {{ row.unit_number }}
                </td>
                {{ end }}
                {{ for cell in row.cells }}
                    <td style="width: 6%; margin: 0; text-align: center; {{ if cell.is_installation }} background-color: #ddd; {{ end }}">
                        {{ if cell.has_meeting }}
                            {{ if cell.is_installation }}
                                <strong>{{ cell.day }}</strong>
                            {{ else }}
                                {{ cell.day }}
                            {{ end }}
                        {{ end }}
                    </td>
                {{ end }}
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
