<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 11pt; margin: 0; font-weight: bold;">An Introduction to the Ancient and Honourable Fraternity of Royal Ark Mariner</h2>
</div>

<div style="font-size: 8pt; display: flex; flex-direction: column;">
    <p style="line-height: 1.5;">
        The Degree of Royal Ark Mariner (R.A.M.), although worked under the aegis of the Grand Lodge of Mark Master Masons, has no real historical connection with the Mark Degree. In essence, the Royal Ark Mariner Degree stands alone and, is entirely unrelated to any other Masonic degree. It is undoubtedly one of the most inspiring and beautiful degrees that we find in Freemasonry.
    </p>
    <p style="line-height: 1.5;">
        There is only one ceremony of “elevation”, and this is relatively short, of some 45 minutes. As its name suggests it has a nautical flavour, with the “elevation” of a candidate into the Degree, commemorating the providence and mercy of God, with regard to the legend of the Deluge, as recorded in Genesis.
    </p>
    <p style="line-height: 1.5;">
        During the ceremony, analogies are drawn between the dangers of the flood and the dangers of life. How we should strive to reach the “Ark”, the haven of rest, just as Noah’s family and the other occupants of his Ark did. The subject matter, being taken directly from the Volume of the Sacred Law, is therefore both beautiful and instructive, guaranteed to make a lasting impression on every candidate. Upon entering the Temple the attention of the Candidate is directed to three points and at a certain stage the Ark is symbolised in terms similar to the ark of salvation. The candidate is finally instructed to advance in the spirit of the cardinal virtues.
    </p>
</div>