<div style="text-align: center; padding: 0px; font-size: 7.5pt;">

    <div style="margin-bottom: 6px;">
        <h1 style="font-size: 14pt; margin: 0; font-weight: bold; text-align: center;">
            Lodges associated with the Province of Dorset
        </h1>
    </div>

    <!-- Header Section -->
    <div style="margin-bottom: 2px;">
        <h1 style="font-size: 12pt; margin: 0; font-weight: bold; text-align: center;">
            London Dorset Lodge 3221
        </h1>
    </div>

    <!-- Summary Section -->
    <div style="margin-bottom: 12px; text-align: left;">
        <p style="font-size: 8pt; margin: 6px 0;">
            Warrant dated 14 February 1907. Centenary Warrant granted 2007. Meet
            at Freemasons' Hall, Great Queen Street, London on the first Monday in
            March (Installation), June, November & December.
        </p>

        <p style="font-size: 8pt; margin: 6px 0;">
            Any Lodge in the Province of Dorset may become associated to
            this Lodge on payment of a ‘one off’ fee equal to 20% of the
            annual subscription in force at the time of the application.
            Thereafter any member of such Lodge may attend any meeting
            and dinner of the Lodge on payment of the dining fee.
        </p>
    </div>
</div>

<div style="text-align: center; padding: 0px; font-size: 7.5pt;">
    <!-- Header Section -->
    <div style="margin-bottom: 2px;">
        <h1 style="font-size: 12pt; margin: 0; font-weight: bold; text-align: center;">
            Old Shirburnian Lodge 3304
        </h1>
    </div>

    <!-- Summary Section -->
    <div style="margin-bottom: 2px; text-align: left;">
        <p style="font-size: 8pt; margin: 6px 0;">
            Warrant dated 10 April 1908. Consecrated 28 May 1908. Centenary
            Warrant granted 2008. Meet at Freemasons' Hall, Great Queen Street,
            London on the third Tuesday in February, 5.00pm (Installation); third
            Saturday in June, 11.15am at Sherborne by Dispensation; and on the fourth
            Tuesday in October (London) 5.30pm.
        </p>

        <p style="font-size: 8pt; margin: 6px 0;">
            The lodge is established primarily for the benefit of all those educated at,
            and connected with Sherborne School, viz:<br />
            (a) Old Shirburnians<br />
            (b) Members of the Old Shirburnian Society<br />
            (c) Masters of Sherborne School<br />
            (d) Past and Present Governors of Sherborne School
        </p>
    </div>
</div>