<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: var(--font-title); margin: 0 0 4px 0; font-weight: bold;">Broken Column Association</h2>
    <img src="../../images/broken-column-logo.png" style="max-width: 75%; height: auto; margin: 20px;"/>
</div>

<div style="font-size: var(--font-body); display: flex; flex-direction: column;">
    <p style="line-height: 1.5;">
        The Broken Column Association is the collective name for several branches within the Province, formed solely for the benefit of our widows. Branches are currently established in Poole, Wimborne and Portland.
    </p>

    <p style="line-height: 1.5;">   
Each branch is independent and run entirely by the ladies themselves, for their own enjoyment and support. Monthly meetings are held at the respective Masonic halls in Poole, Wimborne and Portland.
    </p>
    <p style="line-height: 1.5;">   
        Branches raise their own funds, with additional support provided by Dorset Masonic Care.  Membership is not limited to Dorset. All Masonic widows are warmly welcomed, regardless of where their late husband’s lodge was located.
    </p>
    <p style="line-height: 1.5;">
        For contact details of the Chairlady and Secretary of each branch, please email the Provincial Grand Almoner at <a href="mailto:almoner@dorset-freemasonry.org">almoner@dorset-freemasonry.org</a>
    </p>
</div>
