<div style="text-align: center; margin-bottom: 8px;">
    <h2 style="font-size: 12pt; margin: 0; font-weight: 600;">I NEED HELP!</h2>
    <p style="font-size: 8pt; margin: 4px 0 0 0; font-style: italic;">(But I am too proud and embarrassed to ask)</p>
</div>

<table style="width: 100%; border-collapse: collapse; font-size: 6pt; border: none; line-height: 1.3; table-layout: auto;">
    <tbody>
        <tr>
            <td colspan="2" style="padding: 6px; text-align: left;">                
                <p style="margin: 0 0 6px 0;">We in the Masonic Province of Dorset have unique access to two wonderful
                    Masonic Charities able to provide assistance to those in need. Both Charities have very similar
                    objectives and criteria, and both are run for the benefit of Dorset Freemasons (subscribing or
                    un-attached) and Masonic Widows.</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 2px; vertical-align: top; text-align: center; width: 48%;">
                <p style="margin: 0 0 2px 0; font-size: 7pt; font-weight: 600;">Dorset Masonic Care</p>     
                <p style="margin: 0;">Registered Charity 217655</p>           
                <img src="../../images/dmc-logo.png" style="width: auto; max-height: 50px; margin: 2px 0;"/>
            </td>
            <td style="padding: 2px; vertical-align: top; text-align: center; width: 48%;">
                <p style="margin: 0 0 2px 0; font-size: 7pt; font-weight: 600;">Dorset Ashlar Housing Trust</p>  
                <p style="margin: 0;">Registered Charity 900151</p>              
                <img src="../../images/daht-logo.png" style="width: auto; max-height: 50px; margin: 2px 0;"/>
            </td>
        </tr>
        <tr>
            <td style="padding: 2px; vertical-align: top; width: 48%;">
                <p style="margin: 0; text-align: left;">
                    Founded in 1880, providing relief &amp; assistance to those in need of financial support. More than 80% of applications are dealt with within 48 hours, and all are handled discretely and in strict confidence. For more complex needs DMC works together with the Freemasons' Charity <i>(formerly MCF).</i>
                </p>
            </td>
            <td style="padding: 2px; vertical-align: top; width: 40%;">
                <p style="margin: 0; text-align: left;">
                    Owns Kenneth Cross Court containing 10x2 bedroom flats and 2x1 bedroom flats in a purpose built complex in Parkstone. Accommodation is provided at heavily reduced monthly rents and residents are assured of friendly and regular contact.
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding: 2px; vertical-align: top; text-align: left; width: 48%;">
                <p style="margin: 0;"><b>Chairman:</b> MR Devereux</p>
                <p style="margin: 0;"><b>Secretary:</b> M Austin</p>
                <p style="margin: 0;"><b>Treasurer:</b> S Dorrington-Ward</p>
                <p style="margin: 0;"><b>Trustees:</b> M Richards, P Coxall, M Lofthouse, A Perkins, S McKell, B Hughes,
                    B Barrett.</p>
            </td>
            <td style="padding: 2px; vertical-align: top; text-align: left; width: 48%;">
                <p style="margin: 0;"><b>Chairman:</b> KH Barnes JP MA</p>
                <p style="margin: 0;"><b>Secretary:</b> K Orton</p>
                <p style="margin: 0;"><b>Treasurer:</b> MR Devereux</p>
                <p style="margin: 0;"><b>Trustees:</b> DBF Burt, C Wills, G Thorne, A Tracy, W Hughes, Mary Selby.</p>
            </td>
        </tr>
        <tr><td colspan="2"><hr/></td></tr>
        <tr>
            <td colspan="2" style="padding: 2px; text-align: left;">
                <p style="margin: 0; font-weight: 600;">Are you in need of assistance?</p>
                <p style="margin: 0; font-weight: 600;">Are you feeling too embarrassed to discuss this with a fellow Mason?</p>
                <p style="margin: 0; font-weight: 600;">Do you need that help now?</p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding: 2px; text-align: left;">
                <p style="margin: 0;">If so, then call us on <b>01305 580626</b> for a confidential
                    discussion or email <b>care@dorsetmasoniccare.org</b> or <b>dahtsecretary@gmail.com</b></p>
            </td>
        </tr>
    </tbody>
</table>