<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 0; font-weight: 600;">The Provincial Grand Lodge of Dorset</h2>
    <img src="../../images/provincial-crest-sml.jpg" style="max-width: 25%; height: auto; margin: 10px 0;"/>
    <h3 style="font-size: 12pt; margin: 4px 0;">Provincial Grand Lodge Officers 2026-2027</h3>
</div>
<!-- Executive Officers -->
 <table
    style="margin: 8px 0; font-size: 10pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 50%;">Provincial Grand Master</td>
            <td style="text-align: right;">Stephen Andrew James</td>
        </tr>
    </tbody>
</table>
<!-- Assistant Executive Officers -->
<table
    style="margin: 8px 0; font-size: 9pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600; width: 45%;">Deputy PGM</td>
            <td style="text-align: right;">Mark David Burstow, PGSwdB</td>
        </tr>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600;">Assistant PGM</td>
            <td style="text-align: right;">Micheal Richard Parkes, PSGD</td>
        </tr>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600;">Assistant PGM</td>
            <td style="text-align: right;">Leon Anthony Matthews, PJGD</td>
        </tr>
    </tbody>
</table>
<!-- Officers -->
<table
    style="margin: 8px 0; font-size: 8pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="width: 45%;">Senior Grand Warden</td>
            <td style="text-align: right; width: 45%;">Keith Starr</td>
            <td style="text-align: right;">8025</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Junior Grand Warden</td>
            <td style="text-align: right;">Simon Dudley</td>
            <td style="text-align: right;">0000</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Chaplain</td>
            <td style="text-align: right;">John Richard Storey</td>
            <td style="text-align: right;">1168</td>
        </tr>     
        <tr style="margin: 6px; padding: 0;">
            <td>Treasurer</td>
            <td style="text-align: right;">Stephen Mark James</td>
            <td style="text-align: right;">0000</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Registrar</td>
            <td style="text-align: right;">Anthony Paul Martin Chambers</td>
            <td style="text-align: right;">0000</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Secretary</td>
            <td style="text-align: right;">Terry Green</td>
            <td style="text-align: right;">7873</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Director of Ceremonies</td>
            <td style="text-align: right;">Richard Kenneth Jones</td>
            <td style="text-align: right;">1266</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Sword Bearer</td>
            <td style="text-align: right;">Rodney Johnathan Playford</td>
            <td style="text-align: right;">9050</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Superintendent of Works</td>
            <td style="text-align: right;">Trevor Anthony Bond</td>
            <td style="text-align: right;">0000</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td>Deputy DC</td>
            <td style="text-align: right;">Andrew John Larkin</td>
            <td style="text-align: right;">6827</td>
        </tr>
    </tbody>
</table>