<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 0; font-weight: 600;">The Provincial Grand Lodge of Dorset</h2>
    <h3 style="font-size: 12pt; margin: 4px 0;">Provincial Grand Lodge Officers 2026-2027</h3>
</div>


<table
    style="margin: 8px 0; font-size: 9pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 45%;">Provincial Grand Master</td>
            <td style="text-align: right;">Stephen Andrew James</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 45%;">Deputy Grand Master</td>
            <td style="text-align: right;">Mark David Burstow, PGSwdB</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 45%;">Assistant Grand Master</td>
            <td style="text-align: right;">Micheal Richard Parkes, PSGD</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 45%;">Assistant Grand Master</td>
            <td style="text-align: right;">Leon Anthony Matthews, PJGD</td>
        </tr>
    </tbody>
</table>