<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 0; font-weight: 600;">The Provincial Grand Lodge of Dorset</h2>
    <img src="../../images/provincial-crest-sml.jpg" style="max-width: 25%; height: auto; margin: 10px 0;"/>
    <h3 style="font-size: 12pt; margin: 4px 0;">Provincial Grand Lodge Officers 2025-2026</h3>
</div>
<!-- PGM -->
 <table
    style="margin: 8px 0; font-size: 10pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600; width: 50%;">Provincial Grand Master</td>
            <td style="text-align: right;">Stephen Andrew James</td>
        </tr>
    </tbody>
</table>
<!-- Deputy and Assistant PGMs -->
<table
    style="margin: 8px 0; font-size: 9pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600; width: 45%;">Deputy Grand Master</td>
            <td style="text-align: right;">Mark David Burstow, PGSwdB</td>
        </tr>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600;">Assistant Grand Master</td>
            <td style="text-align: right;">Micheal Richard Parkes, PSGD</td>
        </tr>
        <tr style="margin: 6px; padding: 4px;">
            <td style="font-weight: 600;">Assistant Grand Master</td>
            <td style="text-align: right;">Leon Anthony Matthews, PJGD</td>
        </tr>
    </tbody>
</table>
<!-- Officers -->
<table
    style="margin: 8px 0; font-size: 8pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="width: 45%;font-weight: 600;">Senior Grand Warden</td>
            <td style="text-align: right; width: 45%;">K Starr</td>
            <td style="text-align: right;">8025</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Junior Grand Warden</td>
            <td style="text-align: right;">S J Dudley</td>
            <td style="text-align: right;">3878</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Chaplain</td>
            <td style="text-align: right;">J R Storey</td>
            <td style="text-align: right;">1168</td>
        </tr>     
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Treasurer</td>
            <td style="text-align: right;">S M James</td>
            <td style="text-align: right;">3625</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Registrar</td>
            <td style="text-align: right;">A P M Chambers</td>
            <td style="text-align: right;">1266</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Secretary</td>
            <td style="text-align: right;">T Green, PAGDC</td>
            <td style="text-align: right;">7873</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Director of Ceremonies</td>
            <td style="text-align: right;">R K Jones</td>
            <td style="text-align: right;">1266</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Sword Bearer</td>
            <td style="text-align: right;">R J Playford</td>
            <td style="text-align: right;">9050</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Superintendent of Works</td>
            <td style="text-align: right;">T A Bond</td>
            <td style="text-align: right;">8118</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Deputy Secretary</td>
            <td style="text-align: right;">A Ward</td>
            <td style="text-align: right;">1266</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Deputy DC</td>
            <td style="text-align: right;">A J Larkin</td>
            <td style="text-align: right;">6827</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Almoner</td>
            <td style="text-align: right;">A P T Gale</td>
            <td style="text-align: right;">622</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Charity Steward</td>
            <td style="text-align: right;">A R Washbourne</td>
            <td style="text-align: right;">386</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Membership</td>
            <td style="text-align: right;">J A R Waddington</td>
            <td style="text-align: right;">9942</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Communications</td>
            <td style="text-align: right;">G J Heald</td>
            <td style="text-align: right;">8025</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Learning & Development</td>
            <td style="text-align: right;">A M Perkins</td>
            <td style="text-align: right;">8290</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Mentor</td>
            <td style="text-align: right;">R B Green</td>
            <td style="text-align: right;">7873</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Senior Deacon</td>
            <td style="text-align: right;">C B Sandall</td>
            <td style="text-align: right;">3625</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Senior Deacon</td>
            <td style="text-align: right;">C J Moorley</td>
            <td style="text-align: right;">7907</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Junior Deacon</td>
            <td style="text-align: right;">A Hollington</td>
            <td style="text-align: right;">4355</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Junior Deacon</td>
            <td style="text-align: right;">J R Johnson</td>
            <td style="text-align: right;">8290</td>
        </tr>        
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Assistant Secretary</td>
            <td style="text-align: right;">L J O'Keefe</td>
            <td style="text-align: right;">7873</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Assistant DC</td>
            <td style="text-align: right;">N P Protopsaltis</td>
            <td style="text-align: right;">4355</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Assistant DC</td>
            <td style="text-align: right;">A D Hickson</td>
            <td style="text-align: right;">6525</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Organist </td>
            <td style="text-align: right;">R J Miles</td>
            <td style="text-align: right;">3878</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Standard Bearer</td>
            <td style="text-align: right;">C S Gittins</td>
            <td style="text-align: right;">170</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Standard Bearer</td>
            <td style="text-align: right;">N A Smart</td>
            <td style="text-align: right;">0000</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Pursuivant</td>
            <td style="text-align: right;">N A Curley</td>
            <td style="text-align: right;">0000</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Steward</td>
            <td style="text-align: right;">D L Buckley</td>
            <td style="text-align: right;">665</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Steward</td>
            <td style="text-align: right;">N B L Lacey-Clarke</td>
            <td style="text-align: right;">1266</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Steward</td>
            <td style="text-align: right;">S J H Jaeger</td>
            <td style="text-align: right;">7986</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Steward</td>
            <td style="text-align: right;">C J Bunce</td>
            <td style="text-align: right;">8726</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="font-weight: 600;">Tyler</td>
            <td style="text-align: right;">K J Shaw</td>
            <td style="text-align: right;">8149</td>
        </tr>
    </tbody>
</table>