<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: var(--font-title); margin: 0 0 4px 0; font-weight: 600;">Salutations</h2>
    <h4 style="font-size: var(--font-heading-secondary); margin: 0; font-weight: 600;">MW The Grand Master has approved the following salutations</h4>
    <h4 style="font-size: var(--font-heading-secondary); margin: 0; font-weight: 600;">(for Present and Past ranks)</h4>
</div>

<table style="font-size: var(--font-body); width: 100%; border-collapse: collapse; border: none; margin: 4px 0 0 0;">
    <tbody>
        <tr>
            <td style="font-weight: 600; padding: 2px 0 2px 0; vertical-align: top;">ELEVEN</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">MW Grand Master</td>
        </tr>
        <tr>
            <td style="padding: 2px 0 8px 10px; vertical-align: top;">MW Pro Grand Master</td>
        </tr>
        <tr>
            <td style="font-weight: 600; padding: 2px 0 2px 0; vertical-align: top;">NINE</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">RW Deputy Grand Master</td>
        </tr>
        <tr>
            <td style="padding: 2px 0 8px 10px; vertical-align: top;">RW Assistant Grand Master</td>
        </tr>
        <tr>
            <td style="font-weight: 600; padding: 2px 0 2px 0; vertical-align: top;">SEVEN</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">RW Metropolitan, Provincial or District Grand Master</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">RW Pro Metropolitan, Provincial or District Grand Master</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">RW Grand Warden</td>
        </tr>
        <tr>
            <td style="padding: 2px 0 8px 10px; vertical-align: top;">RW President of the Board of General Purposes</td>
        </tr>
        <tr>
            <td style="font-weight: 600; padding: 2px 0 2px 0; vertical-align: top;">FIVE</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">VW Grand Chaplain</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">VW Grand Registrar</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">VW Grand Secretary</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">VW Grand Chancellor</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">VW President of The MCF</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">VW Deputy President of The MCF</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">VW Grand Director of Ceremonies</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">VW Grand Sword Bearer</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">VW Grand Superintendent of Works</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">VW Grand Inspector</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">‡ Deputy Provincial Grand Master</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">‡ Assistant Provincial Grand Master</td>
        </tr>
        <tr>
            <td style="padding: 2px 0 4px 10px; vertical-align: top; font-size: var(--font-secondary);">‡ within their own Province only unless of VW Grand Rank or above<br/>OR of Past Rank having served at least 2 years in Office</td>
        </tr>
        <tr>
            <td style="font-weight: 600; padding: 2px 0 2px 0; vertical-align: top;">THREE</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">Other Grand Officers</td>
        </tr>
        <tr>
            <td style="padding: 0 0 0 10px; vertical-align: top;">Provincial Grand Officers</td>
        </tr>
    </tbody>
</table>