<div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="font-size: 14pt; margin: 6px; font-weight: 600;">Succession Lists</h2>
</div>
<!-- PGMs -->
<table style="margin: 0; font-size: 8pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <thead>
        <tr style="margin: 0; padding: 0;">
            <th style="text-align: left; width: 18%;">Appointed</th>
            <th style="text-align: left; width: 70%;">PROVINCIAL GRAND MASTERS</th>
            <th style="text-align: right; width: 10%;">Years</th>
            <th style="text-align: left; width: 2%;"></th>
        </tr>
    </thead>
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1777</td>
            <td style="text-align: left;">Thomas Dunckerley</td>
            <td style="text-align: right;">18</td>
            <td style="text-align: right;"></td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1802</td>
            <td style="text-align: left;">Sir John Lester</td>
            <td style="text-align: right;">3</td>
            <td style="text-align: right;"></td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1805</td>
            <td style="text-align: left;">John Jeffery, MP</td>
            <td style="text-align: right;">3</td>
            <td style="text-align: right;">†</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1812</td>
            <td style="text-align: left;">William Williams</td>
            <td style="text-align: right;">27</td>
            <td style="text-align: right;"></td>
        </tr>
        <tr>    
            <td style="text-align: left;">1839</td>
            <td style="text-align: left;">William Eliot</td>
            <td style="text-align: right;">6</td>
            <td style="text-align: right;">†</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1846</td>
            <td style="text-align: left;">William Tucker</td>
            <td style="text-align: right;">7</td>
            <td style="text-align: right;">‡</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1853</td>
            <td style="text-align: left;">Henry Ralph Willett</td>
            <td style="text-align: right;">3</td>
            <td style="text-align: right;"></td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1859</td>
            <td style="text-align: left;">Joseph Gundry</td>
            <td style="text-align: right;">18</td>
            <td style="text-align: right;"></td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1877</td>
            <td style="text-align: left;">Montague John Guest</td>
            <td style="text-align: right;">25</td>
            <td style="text-align: right;">†</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1902</td>
            <td style="text-align: left;">The Earl of Shaftesbury</td>
            <td style="text-align: right;">50</td>
            <td style="text-align: right;">†</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1952</td>
            <td style="text-align: left;">Lord Llewellin</td>
            <td style="text-align: right;">5</td>
            <td style="text-align: right;"></td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1957</td>
            <td style="text-align: left;">Dr. Kenneth Bleckly Clarke</td>
            <td style="text-align: right;">15</td>
            <td style="text-align: right;"></td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1972</td>
            <td style="text-align: left;">Montague John Scott Williams</td>
            <td style="text-align: right;">12</td>
            <td style="text-align: right;">†</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1985</td>
            <td style="text-align: left;">Kenneth Valentyne Cross</td>
            <td style="text-align: right;">9</td> 
            <td style="text-align: right;">†</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1994</td>
            <td style="text-align: left;">Kenneth Henry Barnes</td>
            <td style="text-align: right;">14</td>
            <td style="text-align: right;"></td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">2008</td>
            <td style="text-align: left;">Richard Merritt</td>
            <td style="text-align: right;">10</td>
            <td style="text-align: right;"></td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">2018</td>
            <td style="text-align: left;">Graham Raymond Glazier</td>
            <td style="text-align: right;">6</td>
            <td style="text-align: right;"></td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">2024</td>
            <td style="text-align: left;">Stephen Andrew James</td>
            <td style="text-align: right;">2</td>
            <td style="text-align: right;"></td>
        </tr>
</table>
<p style="font-size: 6pt; margin: 2px; font-style: italic;">† Resigned from Office. ‡ Dismissed from Office by the Grand Master.</p>

<!-- Deputy PGMs -->
<table style="margin: 0; margin-top: 8px; font-size: 7pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <thead>
        <tr style="margin: 6px; padding: 0;">
            <th style="text-align: left; width: 18%;">Appointed</th>
            <th style="text-align: left; width: 70%;">DEPUTY PROVINCIAL GRAND MASTERS</th>
            <th style="text-align: right; width: 12%;">Years</th>
        </tr>
    </thead>
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1780</td>
            <td style="text-align: left; width: 70%;">Alexander Campbell</td>
            <td style="text-align: right; width: 12%;">22</td>
        </tr>        
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1802</td>
            <td style="text-align: left; width: 70%;">Thomas Parr</td>
            <td style="text-align: right; width: 12%;">22</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1824</td>
            <td style="text-align: left; width: 70%;">William Eliot</td>
            <td style="text-align: right; width: 12%;">15</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1839</td>
            <td style="text-align: left; width: 70%;">Herbert Williams</td>
            <td style="text-align: right; width: 12%;">3</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1842</td>
            <td style="text-align: left; width: 70%;">Edward Thomas Percy</td>
            <td style="text-align: right; width: 12%;">4</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1846</td>
            <td style="text-align: left; width: 70%;">Herbert Williams</td>
            <td style="text-align: right; width: 12%;">8</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1854</td>
            <td style="text-align: left; width: 70%; font-style: italic;">No Appointment</td>
            <td style="text-align: right; width: 12%;"></td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1855</td>
            <td style="text-align: left; width: 70%;">Richard Hare</td>
            <td style="text-align: right; width: 12%;">4</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1859</td>
            <td style="text-align: left; width: 70%;">Rev. Thomas Pearce</td>
            <td style="text-align: right; width: 12%;">5</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1864</td>
            <td style="text-align: left; width: 70%;">John Montagu Pulteney Montagu</td>
            <td style="text-align: right; width: 12%;">13</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1877</td>
            <td style="text-align: left; width: 70%;">Joseph Pearkes Fox Gundry</td>
            <td style="text-align: right; width: 12%;">2</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1879</td>
            <td style="text-align: left; width: 70%;">Charles Joseph Theophilus Hambro</td>
            <td style="text-align: right; width: 12%;">8</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1887</td>
            <td style="text-align: left; width: 70%;">William Ernest Brymer</td>
            <td style="text-align: right; width: 12%;">22</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1909</td>
            <td style="text-align: left; width: 70%;">Col. Sir William Watts</td>
            <td style="text-align: right; width: 12%;">13</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">1923</td>
            <td style="text-align: left; width: 65%;">Col. Gustavus Phelps Symes</td>
            <td style="text-align: right; width: 20%;">14</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">1937</td>
            <td style="text-align: left; width: 65%;">Capt. Henry Cyril Royds Brocklebank</td>
            <td style="text-align: right; width: 20%;">16</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">1953</td>
            <td style="text-align: left; width: 65%;">Dr. Kenneth Bleckly Clarke</td>
            <td style="text-align: right; width: 20%;">4</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">1957</td>
            <td style="text-align: left; width: 65%;">Arthur Leonard Pope</td>
            <td style="text-align: right; width: 20%;">5</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">1962</td>
            <td style="text-align: left; width: 65%;">Lt. Col. Arthur Richard Bond</td>
            <td style="text-align: right; width: 20%;">9</td>   
        </tr>
        <tr style="margin: 6px; padding: 0;">   
            <td style="text-align: left; width: 15%;">1971</td>
            <td style="text-align: left; width: 65%;">Montague John Scott Williams</td>
            <td style="text-align: right; width: 20%;">1</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">   
            <td style="text-align: left; width: 15%;">1972</td>
            <td style="text-align: left; width: 65%;">William Pope Farnfield</td>
            <td style="text-align: right; width: 20%;">5</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">   
            <td style="text-align: left; width: 15%;">1977</td>
            <td style="text-align: left; width: 65%;">Kenneth Valentyne Cross</td>
            <td style="text-align: right; width: 20%;">8</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">   
            <td style="text-align: left; width: 15%;">1985</td>
            <td style="text-align: left; width: 65%;">Frederick John Cooper</td>
            <td style="text-align: right; width: 20%;">4</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">1989</td>
            <td style="text-align: left; width: 65%;">Cyril Nigel Vernon House</td>
            <td style="text-align: right; width: 20%;">5</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">1994</td>
            <td style="text-align: left; width: 65%;">Brian John Knight</td>
            <td style="text-align: right; width: 20%;">10</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">2004</td>
            <td style="text-align: left; width: 65%;">David Cecil Foyle</td>
            <td style="text-align: right; width: 20%;">2</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">2006</td>
            <td style="text-align: left; width: 65%;">Richard Merritt</td>
            <td style="text-align: right; width: 20%;">2</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">2008</td>
            <td style="text-align: left; width: 65%;">George Richard Cooper, OBE, RD*</td>
            <td style="text-align: right; width: 20%;">2</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">2010</td>
            <td style="text-align: left; width: 65%;">Clive Wincott Deakin</td>
            <td style="text-align: right; width: 20%;">4</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">2014</td>
            <td style="text-align: left; width: 65%;">Nigel John Carrington Leonard</td>
            <td style="text-align: right; width: 20%;">4</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 15%;">2018</td>
            <td style="text-align: left; width: 65%;">Christopher James Lill</td>
            <td style="text-align: right; width: 20%;">2</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">?</td>
            <td style="text-align: left;">Stephen Andrew James</td>
            <td style="text-align: right;">?</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">?</td>
            <td style="text-align: left;">Mark David Burstow</td>
            <td style="text-align: right;">?</td>
        </tr>
    </tbody>
</table>

<!-- Assistant PGMs -->
<table style="margin: 0; margin-top: 8px; font-size: 7pt; width: 100%; border-collapse: collapse; table-layout: fixed; border: none;">
    <thead>
        <tr style="margin: 6px; padding: 0;">
            <th style="text-align: left; width: 18%;">Appointed</th>
            <th style="text-align: left; width: 70%;">ASSISTANT PROVINCIAL GRAND MASTERS</th>
            <th style="text-align: right; width: 12%;">Years</th>
        </tr>
    </thead>
    <tbody>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left; width: 18%;">1977</td>
            <td style="text-align: left; width: 70%;">Kenneth Valentyne Cross</td>
            <td style="text-align: right; width: 12%;">2 mos.</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1977</td>
            <td style="text-align: left;">Frederick John Cooper</td>
            <td style="text-align: right;">8</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1985</td>
            <td style="text-align: left;">Cyril Nigel Vernon House</td>
            <td style="text-align: right;">4</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1989</td>
            <td style="text-align: left;">Brian John Knight</td>
            <td style="text-align: right;">3</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1992</td>
            <td style="text-align: left;">Christopher Robert Watton</td>
            <td style="text-align: right;">3</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1995</td>
            <td style="text-align: left;">Frank Trevor Pratt</td>
            <td style="text-align: right;">4</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">1999</td>
            <td style="text-align: left;">David Cecil Foyle</td>
            <td style="text-align: right;">5</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">   
            <td style="text-align: left;">2004</td>
            <td style="text-align: left;">Richard Merritt</td>
            <td style="text-align: right;">2</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">2006</td>
            <td style="text-align: left;">George Richard Cooper, OBE, RD*</td>
            <td style="text-align: right;">2</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">2008</td>
            <td style="text-align: left;">Clive Wincott Deakin</td>
            <td style="text-align: right;">2</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">2010</td>
            <td style="text-align: left;">Nigel John Carrington Leonard</td>
            <td style="text-align: right;">4</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">2014</td>
            <td style="text-align: left;">Stephen Andrew James</td>
            <td style="text-align: right;">4</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">2018</td>
            <td style="text-align: left;">Christopher William Bond</td>
            <td style="text-align: right;">2</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">?</td>
            <td style="text-align: left;">Michael Richard Parkes</td>
            <td style="text-align: right;">?</td>
        </tr>
        <tr style="margin: 6px; padding: 0;">
            <td style="text-align: left;">?</td>
            <td style="text-align: left;">Leon Anthony Matthews</td>
            <td style="text-align: right;">?</td>
        </tr>
    </tbody>
</table>