<div style="break-before: always; break-inside: avoid; padding: 0px; margin: 0;">
    <div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1 style="font-size: 11pt; margin: 0 0 4px 0; font-weight: 600; line-height: 1;">{{ section_title }}</h1>
        <span style="font-size: 5pt; margin: 0 0 4px 0; font-style: italic; line-height: 1;">Figures are based on the membership data contained within this calendar.</span>
    </div>
    <table style="width: 100%; border-collapse: collapse; table-layout: fixed; font-size: 6pt; border: 0px; line-height: 1.2;">
        <colgroup>
            <col style="width: 50px;">
            <col style="width: 50px;">
            {{ if !columnHeadings.hideOfficers }}
            <col style="width: 40px;">
            {{ end }}
            {{ if !columnHeadings.hidePastMasters }}
            <col style="width: 40px;">
            {{ end }}
            {{ if !columnHeadings.hideHonorary }}
            <col style="width: 40px;">
            {{ end }}
            <col style="width: 40px;">
        </colgroup>
        <thead>
            <tr style="font-weight: 600; background: #f0f0f0;">
                <th style="text-align: left;">
                    &nbsp;
                </th>
                <th style="text-align: center;">
                    &nbsp;
                </th>
                {{ if !columnHeadings.hideOfficers }}
                <th style="text-align: center;">
                    {{ columnHeadings.officers }}
                </th>
                {{ end }}
                {{ if !columnHeadings.hidePastMasters }}
                <th style="text-align: center;">
                    {{ columnHeadings.pastMasters }}
                </th>
                {{ end }}
                {{ if !columnHeadings.hideHonorary }}
                <th style="text-align: center;">
                    {{ columnHeadings.honorary }}
                </th>
                {{ end }}
                <th style="text-align: center;">
                    Members
                </th>
            </tr>
        </thead>
        <tbody>
            {{ for unit in units }}
            <tr style="padding: 1px;border-top:1px solid #000;">
                <td style="text-align: left; overflow: hidden; white-space: nowrap;">
                    {{ unit.superShortName ?? unit.shortName ?? unit.name }}
                </td>
                <td style="text-align: center;">
                    {{ unit.unitPostfixDisplay }}
                </td>
                {{ if !columnHeadings.hideOfficers }}
                <td style="text-align: center;">
                    {{ unit.officersCount }}
                </td>
                {{ end }}
                {{ if !columnHeadings.hidePastMasters }}
                <td style="text-align: center;">
                    {{ unit.pastMastersCount }}
                </td>
                {{ end }}
                {{ if !columnHeadings.hideHonorary }}
                <td style="text-align: center;">
                    {{ unit.honoraryMembersCount }}
                </td>
                {{ end }}
                <td style="text-align: center;">
                    {{ unit.membersCount }}
                </td>
            </tr>
            {{ end }}
            <tr style="padding: 1px;font-weight: 600; background: #f0f0f0;">
                <td style="text-align: left; overflow: hidden; white-space: nowrap;">
                    Totals
                </td>                                
                <td style="text-align: center;">
                    {{ totalUnits }}
                </td>
                {{ if !columnHeadings.hideOfficers }}
                <td style="text-align: center;">
                    {{ totalOfficers }}
                </td>
                {{ end }}
                {{ if !columnHeadings.hidePastMasters }}
                <td style="text-align: center;">
                    {{ totalPastMasters }}
                </td>
                {{ end }}
                {{ if !columnHeadings.hideHonorary }}
                <td style="text-align: center;">
                    {{ totalHonoraryMembers }}
                </td>
                {{ end }}
                <td style="text-align: center;">
                    {{ totalMembers }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
