<table style="font-size: 6pt; width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th colspan="3" style="font-size: 10pt; margin: 0; font-weight: bold; padding: 2px; text-align: center;">{{ section_title }}</th>
        </tr>
    </thead>
    <tbody>
        {{ if toc_by_section }}        
            {{ for section in toc_by_section }}
                {{ if section.items && section.items.size > 0 }}
                    {{ for item in section.items }}
                        <tr class="toc-item">
                            <td style="padding: 1px; width: 30px; font-size: inherit;">
                                <a style="color: #000; text-decoration: none; font-size: inherit;" href="#{{ item.anchor_id }}"><strong>{{ item.unit_postfix_display }}</strong></a>
                            </td>
                            <td style="padding: 1px 6px; font-size: inherit;">
                                <a style="color: #000; text-decoration: none; font-size: inherit;" href="#{{ item.anchor_id }}">{{ item.display_name }}</a>
                            </td>
                            <td style="padding: 1px; text-align: right; font-size: inherit;">
                                <span class="toc-page-number" style="font-size: inherit;"></span>
                            </td>
                        </tr>
                    {{ end }}
                {{ else }}
                    <tr class="toc-item">
                        <td style="padding: 1px; font-size: inherit; {{ if section.is_child }}padding-left: 14px;{{ end }}">
                            <a style="color: #000; text-decoration: none; font-size: inherit;" href="#section_{{ section.section_id }}">{{ section.section_title }}</a>
                        </td>
                        <td style="padding: 1px; text-align: right; font-size: inherit;">
                            <span class="toc-page-number" style="font-size: inherit;"></span>
                        </td>
                    </tr>
                {{ end }}
            {{ end }}
        {{ end }}
    </tbody>
</table>